MYSQL_DATABASE=default
MYSQL_USERNAME=root
MYSQL_PASSWORD=
MYSQL_HOST=db

# Optional variables
# MYSQL_HOST=localhost
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://tinleg.dev
WP_SITEURL=${WP_HOME}/wp

# Generate your keys here: https://api.wordpress.org/secret-key/1.1/salt/
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
